<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirty.user.mapper.NoticeMapper">
    <select id="getNotices" resultType="com.thirty.user.model.vo.NoticeVO">
        SELECT n.id, n.title, n.content, n.is_top, n.publisher_id, n.create_time, n.update_time,
               ud.name AS publisher_name
            FROM notice n
            LEFT JOIN user_detail ud ON n.publisher_id = ud.id
        WHERE n.is_delete = 0
        ORDER BY n.is_top DESC, n.create_time DESC
    </select>
</mapper>