<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirty.common.mapper.TimeFilterMapper">
    <!-- 时间筛选SQL片段 -->
    <sql id="timeFilter">
        <if test="params.filterTime.startTime != null">
            AND ${column} &gt;= #{params.filterTime.startTime}
        </if>
        <if test="params.filterTime.endTime != null">
            AND ${column} &lt;= #{params.filterTime.endTime}
        </if>
    </sql>
</mapper>
